body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  height: 100vh;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  border-radius: 4px;
  opacity: 80%;
}

.grafico {
  position: absolute;
  z-index: 1;
  bottom: 35px;
  right: 20px;
  width: 400px;
  height: 350px;
  /* background-color: black; */
  border: solid rgba(142, 37, 228, 0.541);
  border-radius: 10px;
  opacity: 60%;
  /* padding-bottom: 3rem; */
  color: #fff;
  transition: 1s;
}

.grafico:hover {
  background-color: black;
  opacity: 100%;
  transition: 1s;
}

.grafico p {
  color: #fff;
  margin-left: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.marker {
  background-image: url('./imgs/icons8-location-96.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}